bin/
target/
lib/*.jar
*.zip
*.xls
actionscript_1_und_2/**
actionscript_einstieg/**
apps_iphone/**
c_von_a_bis_z/**
dreamweaver_8/**
excel_2007/**
hdr_fotografie/**
it_handbuch/**
java_7/**
java_insel/**
javascript_ajax/**
joomla_1_5/**
linux/**
linux_unix_prog/**
microsoft_netzwerk/**
oop/**
photoshop_cs2/**
photoshop_cs4/**
php_pear/**
python/**
ruby_on_rails_2/**
shell_prog/**
ubuntu_10_04/**
ubuntu_11_04/**
unix_guru/**
vb_2008/**
vb_2008_einstieg/**
vb_2010_einstieg/**
vcsharp_2008/**
vcsharp_2010/**
vmware/**
windows_server_2008/**