<?xml version="1.0" encoding="iso-8859-15"?>
<galileo-openbooks>
  <entry>
    <id>ACTIONSCRIPT_1_UND_2</id>
    <book>
      <title>ActionScript 1 und 2</title>
      <unpackDirectory>actionscript_1_und_2</unpackDirectory>
      <downloadArchive>http://download2.galileo-press.de/openbook/galileodesign_actionscript.zip</downloadArchive>
      <archiveMD5>f0fce9b57be89d1263ab5aad218f08d9</archiveMD5>
      <coverImage>http://cover.galileo-press.de/9783898422215.jpg</coverImage>
    </book>
  </entry>
  <entry>
    <id>ACTIONSCRIPT_EINSTIEG</id>
    <book>
      <title>Einstieg in ActionScript</title>
      <unpackDirectory>actionscript_einstieg</unpackDirectory>
      <downloadArchive>http://download2.galileo-press.de/openbook/galileodesign_actionscript_einstieg.zip</downloadArchive>
      <archiveMD5>d873a2bea68a0184137f8e95370d2dac</archiveMD5>
      <coverImage>http://cover.galileo-press.de/9783898427746.jpg</coverImage>
    </book>
  </entry>
  <entry>
    <id>APPS_IPHONE</id>
    <book>
      <title>Apps entwickeln für iPhone und iPad</title>
      <unpackDirectory>apps_iphone</unpackDirectory>
      <downloadArchive>http://download2.galileo-press.de/openbook/galileocomputing_apps_entwickeln_fuer_iphone_und_ipad.zip</downloadArchive>
      <archiveMD5>4ec481acdd85478ea58dbc246811732f</archiveMD5>
      <coverImage>http://cover.galileo-press.de/9783836214636.jpg</coverImage>
    </book>
  </entry>
  <entry>
    <id>ASP_NET</id>
    <book>
      <title>Einstieg in ASP.NET</title>
      <unpackDirectory>asp_net</unpackDirectory>
      <downloadArchive>http://download2.galileo-press.de/openbook/galileocomputing_asp_net.zip</downloadArchive>
      <archiveMD5>1809d23d319442eb1df5792d9f86814a</archiveMD5>
      <coverImage>http://cover.galileo-press.de/9783898423021.jpg</coverImage>
    </book>
  </entry>
  <entry>
    <id>C_VON_A_BIS_Z</id>
    <book>
      <title>C von A bis Z</title>
      <unpackDirectory>c_von_a_bis_z</unpackDirectory>
      <downloadArchive>http://download2.galileo-press.de/openbook/galileocomputing_c_von_a_bis_z.zip</downloadArchive>
      <archiveMD5>082b31208caf318669f6577431afaba5</archiveMD5>
      <coverImage>http://cover.galileo-press.de/9783836214117.jpg</coverImage>
    </book>
  </entry>
  <entry>
    <id>DREAMWEAVER_8</id>
    <book>
      <title>Dreamweaver 8</title>
      <unpackDirectory>dreamweaver_8</unpackDirectory>
      <downloadArchive>http://download2.galileo-press.de/openbook/galileodesign_dreamweaver8.zip</downloadArchive>
      <archiveMD5>77b4ccc2e734aa69b4f5e0326b176082</archiveMD5>
      <coverImage>http://cover.galileo-press.de/9783898427395.jpg</coverImage>
    </book>
  </entry>
  <entry>
    <id>EXCEL_2007</id>
    <book>
      <title>Excel 2007</title>
      <unpackDirectory>excel_2007</unpackDirectory>
      <downloadArchive>http://download2.galileo-press.de/openbook/galileocomputing_excel_2007.zip</downloadArchive>
      <archiveMD5>8a3c67bcce5014de42aed6a887f18b5d</archiveMD5>
      <coverImage>http://cover.galileo-press.de/9783898428644.jpg</coverImage>
    </book>
  </entry>
  <entry>
    <id>HDR_FOTOGRAFIE</id>
    <book>
      <title>HDR-Fotografie</title>
      <unpackDirectory>hdr_fotografie</unpackDirectory>
      <downloadArchive>http://download2.galileo-press.de/openbook/galileodesign_hdr_fotografie.zip</downloadArchive>
      <archiveMD5>05f1f03fddeb2d46ddb6f3dcf6417245</archiveMD5>
      <coverImage>http://cover.galileo-press.de/9783836211031.jpg</coverImage>
    </book>
  </entry>
  <entry>
    <id>IT_HANDBUCH</id>
    <book>
      <title>IT-Handbuch für Fachinformatiker</title>
      <unpackDirectory>it_handbuch</unpackDirectory>
      <downloadArchive>http://download2.galileo-press.de/openbook/galileocomputing_it_handbuch.zip</downloadArchive>
      <archiveMD5>69095040b73028fe6e5b5cf2e1ac3305</archiveMD5>
      <coverImage>http://cover.galileo-press.de/9783836217446.jpg</coverImage>
    </book>
  </entry>
  <entry>
    <id>JAVASCRIPT_AJAX</id>
    <book>
      <title>Java ist auch eine Insel</title>
      <unpackDirectory>javascript_ajax</unpackDirectory>
      <downloadArchive>http://download2.galileo-press.de/openbook/galileocomputing_javascript_ajax.zip</downloadArchive>
      <archiveMD5>1fdb716ed9120e26dd9f501356e712a9</archiveMD5>
      <coverImage>http://cover.galileo-press.de/9783898428590.jpg</coverImage>
    </book>
  </entry>
  <entry>
    <id>JAVA_7</id>
    <book>
      <title>JavaScript und AJAX</title>
      <unpackDirectory>java_7</unpackDirectory>
      <downloadArchive>http://download2.galileo-press.de/openbook/galileocomputing_java7.zip</downloadArchive>
      <archiveMD5>a6c42f70b09fed65c3397e817f3b246d</archiveMD5>
      <coverImage>http://cover.galileo-press.de/9783836215077.jpg</coverImage>
    </book>
  </entry>
  <entry>
    <id>JAVA_INSEL</id>
    <book>
      <title>Java 7 - mehr als eine Insel</title>
      <unpackDirectory>java_insel</unpackDirectory>
      <downloadArchive>http://download2.galileo-press.de/openbook/galileocomputing_javainsel.zip</downloadArchive>
      <archiveMD5>dbf5dd60502be22fd0ac42d44584309f</archiveMD5>
      <coverImage>http://cover.galileo-press.de/9783836218023.jpg</coverImage>
    </book>
  </entry>
  <entry>
    <id>JOOMLA_1_5</id>
    <book>
      <title>Joomla! 1.5</title>
      <unpackDirectory>joomla_1_5</unpackDirectory>
      <downloadArchive>http://download2.galileo-press.de/openbook/galileocomputing_joomla15.zip</downloadArchive>
      <archiveMD5>81b816d22da3da064d3b23b97266cf2f</archiveMD5>
      <coverImage>http://cover.galileo-press.de/9783898428811.jpg</coverImage>
    </book>
  </entry>
  <entry>
    <id>LINUX</id>
    <book>
      <title>Linux</title>
      <unpackDirectory>linux</unpackDirectory>
      <downloadArchive>http://download2.galileo-press.de/openbook/galileocomputing_linux.zip</downloadArchive>
      <archiveMD5>d1109e488213c93e5468b444cde7698d</archiveMD5>
      <coverImage>http://cover.galileo-press.de/9783836218221.jpg</coverImage>
    </book>
  </entry>
  <entry>
    <id>LINUX_UNIX_PROG</id>
    <book>
      <title>Linux-UNIX-Programmierung</title>
      <unpackDirectory>linux_unix_prog</unpackDirectory>
      <downloadArchive>http://download2.galileo-press.de/openbook/galileocomputing_linux_unix_programmierung.zip</downloadArchive>
      <archiveMD5>c4d37159abde2c2f9757d6c37d45b0d7</archiveMD5>
      <coverImage>http://cover.galileo-press.de/9783836213660.jpg</coverImage>
    </book>
  </entry>
  <entry>
    <id>MICROSOFT_NETZWERK</id>
    <book>
      <title>Microsoft-Netzwerk Integrationshandbuch</title>
      <unpackDirectory>microsoft_netzwerk</unpackDirectory>
      <downloadArchive>http://download2.galileo-press.de/openbook/galileocomputing_microsoft_netzwerk.zip</downloadArchive>
      <archiveMD5>814a46492426ca26ad82cc61b80f12c9</archiveMD5>
      <coverImage>http://cover.galileo-press.de/9783898428477.jpg</coverImage>
    </book>
  </entry>
  <entry>
    <id>OOP</id>
    <book>
      <title>Objektorientierte Programmierung</title>
      <unpackDirectory>oop</unpackDirectory>
      <downloadArchive>http://download2.galileo-press.de/openbook/galileocomputing_oop.zip</downloadArchive>
      <archiveMD5>0151c9177aba7007ac74b63ded2c7c05</archiveMD5>
      <coverImage>http://cover.galileo-press.de/9783836214018.jpg</coverImage>
    </book>
  </entry>
  <entry>
    <id>PHOTOSHOP_CS2</id>
    <book>
      <title>Adobe Photoshop CS2</title>
      <unpackDirectory>photoshop_cs2</unpackDirectory>
      <downloadArchive>http://download2.galileo-press.de/openbook/galileodesign_photoshop_cs2.zip</downloadArchive>
      <archiveMD5>19dfce0450057f826b2470b219d44496</archiveMD5>
      <coverImage>http://cover.galileo-press.de/9783898427005.jpg</coverImage>
    </book>
  </entry>
  <entry>
    <id>PHOTOSHOP_CS4</id>
    <book>
      <title>Adobe Photoshop CS4</title>
      <unpackDirectory>photoshop_cs4</unpackDirectory>
      <downloadArchive>http://download2.galileo-press.de/openbook/galileodesign_photoshop_cs4.zip</downloadArchive>
      <archiveMD5>d1577a92737b79d334c078a588019bf8</archiveMD5>
      <coverImage>http://cover.galileo-press.de/9783836212373.jpg</coverImage>
    </book>
  </entry>
  <entry>
    <id>PHP_PEAR</id>
    <book>
      <title>PHP PEAR</title>
      <unpackDirectory>php_pear</unpackDirectory>
      <downloadArchive>http://download2.galileo-press.de/openbook/galileocomputing_php_pear.zip</downloadArchive>
      <archiveMD5>10e51e01cbb003c5931d881c2c367740</archiveMD5>
      <coverImage>http://cover.galileo-press.de/9783898425803.jpg</coverImage>
    </book>
  </entry>
  <entry>
    <id>PYTHON</id>
    <book>
      <title>Python</title>
      <unpackDirectory>python</unpackDirectory>
      <downloadArchive>http://download2.galileo-press.de/openbook/galileocomputing_python.zip</downloadArchive>
      <archiveMD5>802f910e3847565f3d1f981a23ca937f</archiveMD5>
      <coverImage>http://cover.galileo-press.de/9783836211109.jpg</coverImage>
    </book>
  </entry>
  <entry>
    <id>RUBY_ON_RAILS_2</id>
    <book>
      <title>Ruby on Rails 2</title>
      <unpackDirectory>ruby_on_rails_2</unpackDirectory>
      <downloadArchive>http://download2.galileo-press.de/openbook/galileocomputing_ruby_on_rails.zip</downloadArchive>
      <archiveMD5>53684c91088ba485f0d716673f66237f</archiveMD5>
      <coverImage>http://cover.galileo-press.de/9783898427791.jpg</coverImage>
    </book>
  </entry>
  <entry>
    <id>SHELL_PROG</id>
    <book>
      <title>Shell-Programmierung</title>
      <unpackDirectory>shell_prog</unpackDirectory>
      <downloadArchive>http://download2.galileo-press.de/openbook/galileocomputing_shell_programmierung.zip</downloadArchive>
      <archiveMD5>fe8361f8b858f671ae2d57671ad15042</archiveMD5>
      <coverImage>http://cover.galileo-press.de/9783898426831.jpg</coverImage>
    </book>
  </entry>
  <entry>
    <id>UBUNTU_10_04</id>
    <book>
      <title>Ubuntu 10.04 LTS &apos;Lucid Lynx&apos;</title>
      <unpackDirectory>ubuntu_10_04</unpackDirectory>
      <downloadArchive>http://download2.galileo-press.de/openbook/galileocomputing_ubuntu_1004.zip</downloadArchive>
      <archiveMD5>4f93012ba0196f7bc6db17d67d657c79</archiveMD5>
      <coverImage>http://cover.galileo-press.de/9783836216548.jpg</coverImage>
    </book>
  </entry>
  <entry>
    <id>UBUNTU_11_04</id>
    <book>
      <title>Ubuntu 11.04 &apos;Natty Narwhal&apos;</title>
      <unpackDirectory>ubuntu_11_04</unpackDirectory>
      <downloadArchive>http://download2.galileo-press.de/openbook/galileocomputing_ubuntu_1104.zip</downloadArchive>
      <archiveMD5>8b0b98e4e076278c728ad89692544cd7</archiveMD5>
      <coverImage>http://cover.galileo-press.de/9783836217651.jpg</coverImage>
    </book>
  </entry>
  <entry>
    <id>UBUNTU_12_04</id>
    <book>
      <title>Ubuntu 12.04 &apos;Precise Pangolin&apos;</title>
      <unpackDirectory>ubuntu_12_04</unpackDirectory>
      <downloadArchive>http://download2.galileo-press.de/openbook/galileocomputing_ubuntu.zip</downloadArchive>
      <archiveMD5>fd17a9647efff78a358364def4400e63</archiveMD5>
      <coverImage>http://cover.galileo-press.de/9783836219457.jpg</coverImage>
    </book>
  </entry>
  <entry>
    <id>UNIX_GURU</id>
    <book>
      <title>Wie werde ich UNIX-Guru?</title>
      <unpackDirectory>unix_guru</unpackDirectory>
      <downloadArchive>http://download2.galileo-press.de/openbook/galileocomputing_unix_guru.zip</downloadArchive>
      <archiveMD5>eeca900fe5144ea39e63620a5e45032a</archiveMD5>
      <coverImage>http://cover.galileo-press.de/9783898422406.jpg</coverImage>
    </book>
  </entry>
  <entry>
    <id>VB_2008</id>
    <book>
      <title>Visual Basic 2008</title>
      <unpackDirectory>vb_2008</unpackDirectory>
      <downloadArchive>http://download2.galileo-press.de/openbook/galileocomputing_visualbasic_2008.zip</downloadArchive>
      <archiveMD5>766474d8b583a88d346801a77748c654</archiveMD5>
      <coverImage>http://cover.galileo-press.de/9783836211710.jpg</coverImage>
    </book>
  </entry>
  <entry>
    <id>VB_2008_EINSTIEG</id>
    <book>
      <title>Einstieg in Visual Basic 2008</title>
      <unpackDirectory>vb_2008_einstieg</unpackDirectory>
      <downloadArchive>http://download2.galileo-press.de/openbook/galileocomputing_einstieg_vb_2008.zip</downloadArchive>
      <archiveMD5>319a48ff5ed8da00fbdbafb4e904a263</archiveMD5>
      <coverImage>http://cover.galileo-press.de/9783836211925.jpg</coverImage>
    </book>
  </entry>
  <entry>
    <id>VB_2010_EINSTIEG</id>
    <book>
      <title>Einstieg in Visual Basic 2010</title>
      <unpackDirectory>vb_2010_einstieg</unpackDirectory>
      <downloadArchive>http://download2.galileo-press.de/openbook/galileocomputing_einstieg_vb_2010.zip</downloadArchive>
      <archiveMD5>825bc75e2779468f49c27e01c1425181</archiveMD5>
      <coverImage>http://cover.galileo-press.de/9783836215411.jpg</coverImage>
    </book>
  </entry>
  <entry>
    <id>VCSHARP_2008</id>
    <book>
      <title>Visual C# 2008</title>
      <unpackDirectory>vcsharp_2008</unpackDirectory>
      <downloadArchive>http://download2.galileo-press.de/openbook/galileocomputing_visual_csharp.zip</downloadArchive>
      <archiveMD5>58bfb6559241a96e6155c7becb00902b</archiveMD5>
      <coverImage>http://cover.galileo-press.de/9783836211727.jpg</coverImage>
    </book>
  </entry>
  <entry>
    <id>VCSHARP_2010</id>
    <book>
      <title>Visual C# 2010</title>
      <unpackDirectory>vcsharp_2010</unpackDirectory>
      <downloadArchive>http://download2.galileo-press.de/openbook/galileocomputing_visual_csharp_2010.zip</downloadArchive>
      <archiveMD5>b08df7f094e2155273d4b16dfc75b0d0</archiveMD5>
      <coverImage>http://cover.galileo-press.de/9783836215527.jpg</coverImage>
    </book>
  </entry>
  <entry>
    <id>VCSHARP_2012</id>
    <book>
      <title>Visual C# 2012</title>
      <unpackDirectory>vcsharp_2012</unpackDirectory>
      <downloadArchive>http://download2.galileo-press.de/openbook/galileocomputing_visual_csharp_2012.zip</downloadArchive>
      <archiveMD5>ea9a5802f773bd2f921d39e236e2ff92</archiveMD5>
      <coverImage>http://cover.galileo-press.de/9783836219976.jpg</coverImage>
    </book>
  </entry>
  <entry>
    <id>VMWARE</id>
    <book>
      <title>VMware und Microsoft Virtual Server</title>
      <unpackDirectory>vmware</unpackDirectory>
      <downloadArchive>http://download2.galileo-press.de/openbook/galileocomputing_vmware.zip</downloadArchive>
      <archiveMD5>c858eff1750f2e3840894a8d1e306a0a</archiveMD5>
      <coverImage>http://cover.galileo-press.de/9783898427012.jpg</coverImage>
    </book>
  </entry>
  <entry>
    <id>WINDOWS_SERVER_2008</id>
    <book>
      <title>Windows Server 2008 R2</title>
      <unpackDirectory>windows_server_2008</unpackDirectory>
      <downloadArchive>http://download2.galileo-press.de/openbook/galileocomputing_windows_server_2008.zip</downloadArchive>
      <archiveMD5>3df493a8dbf04b9fce3c24ba8ed5e995</archiveMD5>
      <coverImage>http://cover.galileo-press.de/9783836215282.jpg</coverImage>
    </book>
  </entry>
</galileo-openbooks>
